[user]
	name = Gabriel Santiago
[init]
	defaultBranch = main
[alias]
	a		 = !cd ${GIT_PREFIX:-.} && git add . && git s
	aa		 = !git add -A && git s
	c		 = commit
	d		 = diff
	ll		 = log --pretty=better-oneline --numstat
	ls		 = log --pretty=better-oneline
	s		 = status
	tree	 = log --pretty=better-oneline --all --graph
	wt		 = worktree
	wt-clone = "!clone-bare"
	wtl		 = worktree list -v
    open-remote = "!gitopenrmt"
[core]
	excludesFile = ~/.gitignore_global
[pretty]
	better-oneline = format:%C(yellow)%h%C(reset) %C(green)(%ar)%C(reset) %s %C(dim white)- %an%C(reset) %C(auto)%d%C(reset)
[include]
	path = ~/.gitconfig-local
